
html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: rgba(255, 255, 255, 0.9);
    -ms-overflow-style: none;

}
::-webkit-scrollbar{
    display: none;
}

a{
    color: rgba(255, 255, 255, 0.9);
    text-decoration: none;
}

.container {
    display: grid;
    width: 100%;
    height: 100%;
    background-color: #1D1D1D;
    grid-template-columns: 95px repeat(10, 1fr) 122px;
    grid-template-rows: 60px repeat(7, minmax(50px, auto)) 50px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(220, 220, 220, 0.7);
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 1;    
}

.sector {
    display: grid;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 11;
    grid-column-end: 12;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
.sector #sector_form{
    border: 3px solid #EFEFEF;
    border-radius: 0 0 0 100px;
    margin: -10px -10px 10px 0px;
    width:8vh;
    height: 8vh;
    grid-column-start: 3;
    grid-column-end: 3;

}

.left_nav {
    display: grid;     
    grid-template-rows: repeat(16, minmax(40px, auto)) ;
    align-items: center;       
    text-align: center;
    grid-row-start: 2;
    grid-row-end: 9;
    grid-column-start: 1;
    grid-column-end: 1;
    font-family: KoPubWorldDotum;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
}            
.left_nav .department{
    position:fixed;
    padding:7px;
    transform: rotate(270deg);
    background-color: #FF5924;
    color: rgba(255, 255, 255, 0.9);
    top:160px;
    /* grid-row-start: 3;
    grid-row-end: 5; */
}
.left_nav .department:hover{
    background-color: #FF5924;
}
.left_nav .professor{
    position:fixed;
    transform: rotate(270deg);
    padding:7px;
    top:290px;
    /* grid-row-start: 7;
    grid-row-end: 8; */
}
.left_nav .professor:hover{
    background-color: #FF5924;
}
.left_nav .student{
    position:fixed;
    border: 1.2px solid #FFFFFF;
    border-radius: 50%;
    padding:15px 35px;
    transform: rotate(270deg);
    left:-5px;
    bottom:160px;
    /* grid-row-start: 13;
    grid-row-end: 14; */
}
.left_nav .student:hover{
    background-color: #FF5924;
}

.left_bottom_space {
    border-top: 1.2px solid #DCDCDC;
    background-color: #FF5924;
    grid-row-start: 9;
    grid-row-end: 10;
    grid-column-start: 1;
    grid-column-end: 1;
}

.top_space {
    border-left: 0.8px solid rgba(220, 220, 220, 0.8);
    border-bottom: 0.8px solid rgba(220, 220, 220, 0.8);
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 12;
}
.speaker2{
    text-align: center;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 12;
    grid-column-end: 13;
}
.speaker3{
    border-bottom: 1px solid rgba(220, 220, 220, 0.7);
    border-left: 0.8px solid rgba(220, 220, 220, 0.8);

    text-align: center;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 12;
    grid-column-end: 13;
}
.container #mouth2{
    margin-bottom:-50px;
    height: 70%;
    width: 50%;
    animation-name: close_mouth;
    animation-duration: 1.8s;
    animation-iteration-count: infinite;
}
.container #mouth2{
    height:100%;
}
.container #mouth3{
    margin-top:-10px;
    height: 70%;
    width: 50%;
    animation-name: open_mouth;
    animation-duration: 1.8s;
    animation-iteration-count: infinite;
}
.container #mouth3{
    height: 100%;
}


.right_nav {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1.2px solid #DCDCDC;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 9;
    grid-column-end: 13;
    height: 60px;
}

.right_nav_content {
    text-align: center;
    flex: 1;
    font-family: AppleSDGothicNeoEB00;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    color: rgba(255, 255, 255, 0.9);
}

.right_nav_content:first-child{
    color: #FF5924;
}

.right_nav_content:hover {
    color: #FF5924;
}

.main_content {
    max-height: 100vh;
    border-left: 1.5px solid #DCDCDC;
    grid-row-start: 2;
    grid-row-end: 9;
    grid-column-start: 2;
    grid-column-end: 12;
}
.main_content .content_title{
    display: block;
    margin: 40px 60px 0 60px;
    height: 6%;

    font-family: AppleSDGothicNeoB00;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 39px;
    letter-spacing: 0.01em;
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.main_content .content_detail{
    display:block;
    height: 80%;
}
.main_content .content_detail .department1{
    height: 50%;
    /* max-width:1077px;
    max-height: 244px; */
}
.main_content .content_detail .department1 #department1_img{
    position: relative;
    width: 50%;
    margin-left:8vw;
    transform:translate(0,30%);
    max-height: 190px;
    min-height: 105px;
    max-width: 550px;
    min-width: 285px;
}
.main_content .content_detail .department1 .area_img{
    position: relative;
    margin-left:8vw;
    transform:translate(0,-73%);
    width:50%;
    height:14.324vw;
    max-height: 190px;
    min-height: 105px;
    max-width: 550px;
    min-width: 285px;
}

.main_content .content_detail .department1 .area_img .area1_first{
    position: absolute;
    width:10vw;
    height:11vw;
    top:15%;
    left:6.4%;
    transform: translate(-15%,-6.4%);
    max-width: 135px;
    min-width: 70px;
    max-height: 150px;
    min-height: 78px;
}
.main_content .content_detail .department1 .area_img .area1_second{
    position: absolute;
    width:12vw;
    height:7vw;
    top:32.5%;
    left:45.8%;
    transform: translate(-32.5%,-45.8%);
    max-width:160px;
    min-width: 85px;
    max-height: 95px;
    min-height: 50px;
}
.main_content .content_detail .department1 .area_img .area1_third{
    position: absolute;
    width:8vw;
    height:7vw;
    top:53%;
    left:86%;
    transform: translate(-53%,-86%);    
    max-width: 110px;
    min-width: 57px;
    max-height: 95px;
    min-height: 50px;
    cursor: pointer;
}
.main_content .content_detail .department1 .area_img .department_desc1{
    position:absolute;
    width: 65%;
    top:3%;
    right:-70%;
}


.main_content .content_detail .department2{
    height: 50%;
    margin-left: 3vw;
}
.main_content .content_detail .department2 #department2_img{
    position: relative;
    width:50%;
    margin-left:4vw;
    transform:translate(81%,30%);
    max-height: 190px;
    min-height: 105px;
    max-width: 580px;
    min-width: 285px;
}
.main_content .content_detail .department2 .area_img{
    position: relative;
    margin-left:8vw;
    transform:translate(-27%,-73%);
    width:50%;
    height:14.324vw;
    max-height: 186px;
    min-height: 105px;
    max-width: 580px;
    min-width: 285px;
}
.main_content .content_detail .department2 .area2_first{
    position: absolute;
    width:9.5vw;
    height:4vw;
    bottom:77%;
    right:-43%;
    transform: translate(-77%,43%);
    max-width: 135px;
    min-width: 65px;
    max-height: 58px;
    min-height: 30px;

}
.main_content .content_detail .department2 .area2_second{
    position: absolute;
    width:11.5vw;
    height:9vw;
    bottom:84%;
    right:-88%;
    transform: translate(-84%,88%);
    max-width: 160px;
    min-width: 80px;
    max-height: 128px;
    min-height: 70px;
}
.main_content .content_detail .department2 .area2_third{
    position: absolute;
    width:8.5vw;
    height:5.5vw;
    bottom:65%;
    right:-108%;
    transform: translate(-65%,108%);
    max-width: 115px;
    min-width: 58px;
    max-height: 78px;
    min-height: 42px;
}

.main_content .content_detail .department2 .department_desc2{
    position:absolute;
    width: 68%;
    top:3%;
    left:20%;
}
.area1_first:hover{
    background-color: #FF5924;
    border-radius: 4px;
}
.area1_second:hover{
    background-color: #FF5924;
    border-radius: 4px;
}
.area1_third:hover{
    background-color: #FF5924;
    border-radius: 4px;
}
.area2_first:hover{
    background-color: #FF5924;
    border-radius: 4px;
}
.area2_second:hover{
    background-color: #FF5924;
    border-radius: 4px;
}
.area2_third:hover{
    background-color: #FF5924;
    border-radius: 4px;
}
.area_text{
    display:flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    width:100%;
    height: 100%;
    font-family: AppleSDGothicNeoB00;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.01em;
}
.desc_title{
    font-family: AppleSDGothicNeoB00;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.01em;
    padding-bottom: 10px;
    display:flex;
    align-items: center;
}
.desc_title>span{
    font-size:14px;
    padding-right:10px;
}
.desc_content{
    font-family: KoPubWorldDotum;
    font-style: normal;
    font-weight: medium;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: -0.01em;
    color: rgba(255, 255, 255, 0.85);
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
}


.right_side {
    display: grid;
    grid-row-start: 2;
    grid-row-end: 10;
    grid-column-start: 12;
    grid-column-end: 13;
    border-left: 0.8px solid rgba(220, 220, 220, 0.8);
}



.right_side_bottomline{
    border-top: 1.2px solid #DCDCDC;
    border-left:1.5px solid #DCDCDC;
    grid-row-start: 9;
    grid-row-end: 10;
    grid-column-start: 2;
    grid-column-end: 13;     
}

.bottom_space{
    border-top: 1.2px solid #dcdcdc;

    grid-row-start: 9;
    grid-row-end: 10;
    grid-column-start: 2;
    grid-column-end: 13;

    display: grid;
    grid-template-columns: 1fr 122px;
}

.container_info .bottom_line{
    background-color: #1d1d1d;
}

.bottom_line{
    overflow: hidden;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    z-index: 11;
}

.bottom_line>div{
    display: inline-block;
    width: 1px;
    height: 100%;
    background-color: #FFFFFF;
    bottom: 0;
    margin-left: 14px;
}

@keyframes open_mouth{
    10%{transform: translate(0, -2px);}
    20%{transform: translate(0, 2px);}
    40%{transform: translate(0, -2px);}
    60%{transform: translate(0, 2px);}
    80%{transform: translate(0, -2px);}
    100%{transform: translate(0, 2px);}
}
@keyframes close_mouth{
    10%{transform: translate(0, 2px);}
    20%{transform: translate(0, -2px);}
    40%{transform: translate(0, 2px);}
    60%{transform: translate(0, -2px);}
    80%{transform: translate(0, 2px);}
    100%{transform: translate(0, -2px);}
}