
html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: rgba(255, 255, 255, 0.9);
    -ms-overflow-style: none;
}
::-webkit-scrollbar{
    display: none;
}

a{
    color: rgba(255, 255, 255, 0.9);
    text-decoration: none;
}

.container {
    display: grid;
    width: 100%;
    height: 100%;
    background-color: #1D1D1D;
    grid-template-columns: 95px repeat(10, 1fr) 122px;
    grid-template-rows: 60px repeat(7, minmax(50px, auto)) 50px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 0.8px solid rgba(220, 220, 220, 0.8);
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 1;
}

.left_nav {
    display: grid;     
    grid-template-rows: repeat(16, minmax(40px, auto)) ;
    align-items: center;       
    text-align: center;
    grid-row-start: 2;
    grid-row-end: 9;
    grid-column-start: 1;
    grid-column-end: 1;
    font-family: KoPubWorldDotum;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
}         
.left_nav .department{
    position:fixed;
    padding:7px;
    transform: rotate(270deg);
    background-color: #FF5924;
    color: rgba(255, 255, 255, 0.9);
    top:160px;
    /* grid-row-start: 3;
    grid-row-end: 5; */
}
.left_nav .department:hover{
    background-color: #FF5924;
}
.left_nav .professor{
    position:fixed;
    transform: rotate(270deg);
    padding:7px;
    top:290px;
    /* grid-row-start: 7;
    grid-row-end: 8; */
}
.left_nav .professor:hover{
    background-color: #FF5924;
}
.left_nav .student{
    position:fixed;
    border: 1.2px solid #FFFFFF;
    border-radius: 50%;
    padding:15px 35px;
    transform: rotate(270deg);
    left:-5px;
    bottom:160px;
    /* grid-row-start: 13;
    grid-row-end: 14; */
}
.left_nav .student:hover{
    background-color: #FF5924;
}

.left_bottom_space {
    border-top: 1.2px solid #DCDCDC;
    background-color: #FF5924;
    grid-row-start: 9;
    grid-row-end: 10;
    grid-column-start: 1;
    grid-column-end: 1;
}

.top_space {
    border-left: 0.8px solid rgba(220, 220, 220, 0.8);
    border-bottom: 0.8px solid rgba(220, 220, 220, 0.8);
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 13;
}
.speaker{
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #DCDCDC;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 12;
    grid-column-end: 13;
}
.speaker2{
    text-align: center;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 12;
    grid-column-end: 13;
}
.speaker3{
    text-align: center;
    border-left: 0.8px solid rgba(220, 220, 220, 0.8);
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 12;
    grid-column-end: 13;
}
.container #mouth2{
    margin-bottom:-50px;
    height: 70%;
    width: 50%;
    animation-name: close_mouth;
    animation-duration: 1.8s;
    animation-iteration-count: infinite;
}
.container #mouth2{
    height:100%;
}
.container #mouth3{
    margin-top:-10px;
    height: 70%;
    width: 50%;
    animation-name: open_mouth;
    animation-duration: 1.8s;
    animation-iteration-count: infinite;
}
.container #mouth3{
    height: 100%;
}

.right_nav {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 0.8px solid rgba(220, 220, 220, 0.7);
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 9;
    grid-column-end: 13;
    height: 60px;
}

.right_nav_content {
    text-align: center;
    flex: 1;
    font-family: AppleSDGothicNeoEB00;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    color: rgba(255, 255, 255, 0.9);
}
.right_nav_content:first-child{
    color: #FF5924;
}
.right_nav_content:hover {
    color: #FF5924;
}

.main_content {
    display:block;
    max-height: 100vh;
    border-left: 1.5px solid #DCDCDC;
    border-right: 0.8px solid rgba(220, 220, 220, 0.8);
    grid-row-start: 2;
    grid-row-end: 10;
    grid-column-start: 2;
    grid-column-end: 9;
    overflow:auto;
}
.main_content #hero_image{
    background-size: cover;
    height: 30%;
    width: 100%;
}
#cancel_icon{
    width: 24px;
    height: 24px;
    margin: 20px 20px 5px auto;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 8;
    grid-column-end: 9;
    border: 1.5px solid rgba(220, 220, 220, 0.9);
    z-index: 1;
    background: #1d1d1d;    
}
#cancel_icon:hover{
    background-color: #ff5924;
}
#cancel_icon:active{
    position: relative;
    top:2px;
    margin-bottom: 2px;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.42);
    background-color: #1d1d1d;
}
#cancel_icon img{
    width: 16px;
    height: 16px;
    padding:4px;
}
#move_top_icon{
    width: 24px;
    height: 24px;
    margin: 0 20px 0 auto;
    grid-row-start: 9;
    grid-row-end: 10;
    grid-column-start: 8;
    grid-column-end: 9;
    border: 1.5px solid rgba(220, 220, 220, 0.9);
    z-index: 1;
    background: #1d1d1d;    
}
#move_top_icon:hover{
    background-color: #ff5924;
}
#move_top_icon:active{
    position: relative;
    top:2px;
    margin-bottom: 2px;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.42);
    background-color: #1d1d1d;
}

#move_top_icon img{
    width: 16px;
    height: 16px;
    padding:4px;
}
.main_content .main_content_detail{
    height: 100%;
    padding: 35px 35px;
    text-align: center;
}            
.main_content .main_content_detail .detail_desc{
    display: grid;
    grid-template-columns: 50% 50%;
}
.main_content .main_content_detail .detail_desc_title{
    text-align: left;
    font-family: KoPubWorldDotum;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 25px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    padding-left: 10px;
    padding-bottom: 8px;
}
.main_content .main_content_detail .detail_desc_subtitle{
    text-align: left;
    font-family: KoPubWorldDotum;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 22px;
    padding-left: 10px;
    padding-bottom: 30px;
}
.main_content .main_content_detail .detail_desc .detail_desc_content{
    font-family: KoPubWorldDotum;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    text-align: justify;
    padding: 0 10px;
}
.main_content .main_content_detail .detail_image_problem{
    background-size: cover;
    width: 680px;
    height: auto;
}
.main_content .main_content_detail .detail_image_userneeds{
    background-size: cover;
    width: 680px;
    height: auto;
}
.main_content .main_content_detail .detail_image_solution{
    background-size: cover;
    width: 350px;
    height: auto;
}
.main_content .main_content_detail .detail_image_brand_identity{
    background-size: cover;
    width: 520px;
    height: auto;
}
.main_content .main_content_detail .detail_image_userdesign{
    background-size: cover;
    width: 520px;
    height: auto;
}
.main_content .main_content_detail .detail_image_prototype{
    background-size: cover;
    width: 520px;
    height: auto;
}
.main_content .main_content_detail .detail_line{
    width: calc(100% + 68px);
    margin: 49px 0 55px -35px;
    border: 0.5px solid rgba(120, 44, 40, 0.7);
}

.right_side {
    display: grid;
    grid-row-start: 3;
    grid-row-end: 10;
    grid-column-start: 9;
    grid-column-end: 13;

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, minmax(50px, auto));
}
.right_side .caption {
    padding: 10px 25px 0 25px;
    font-family: KoPubWorldDotum;
    font-style: normal;
    font-weight: 500;
    font-size: 1.8vh;
    line-height: 22px;
    text-align: left;
    letter-spacing: -0.01em;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
    
    border-bottom: 0.8px solid rgba(220, 220, 220, 0.7);
    grid-row-start: 1;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 5;
}
.right_side .caption .caption_title{
    font-family: AppleSDGothicNeoB00;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 31px;
    color: #FFFFFF;
    opacity: 0.95;
}
.right_side .caption .caption_subtitle{
    font-family: AppleSDGothicNeoB00;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    opacity: 0.9;
    padding-top: 5px;
}
.right_side .caption .caption_content_list{
    display:flex;
    justify-content: space-between;
    padding: 10px 0 0 10px;
}
.right_side .caption .caption_content_list .caption_content{
    width: 100px;
}
.right_side .caption .caption_content_list .caption_content_image{
    background-color: #c4c4c4;
    width: 80px;
    height: 100px;
}
.right_side .caption .caption_content_list .caption_content_name{
    font-family: KoPubWorldDotum;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
    color: #EEEEEE;
}
.right_side .caption .caption_content_list .caption_content_eng_name{
    font-family: KoPubWorldDotum;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 17px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.right_side .caption .caption_content_list .caption_content_icon{
    padding-top:5px;
}        



.right_side .guestbook {
    padding: 20px 10px 10px 25px;
    border-bottom: 1px solid rgba(220, 220, 220, 0.7);
    grid-row-start: 6;
    grid-row-end: 8;
    grid-column-start: 1;
    grid-column-end: 5;
}
.right_side .guestbook .guestbook_title{
    display: flex;
}
.right_side .guestbook .guestbook_maintitle{
    font-family: KoPubWorldDotum;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 18px;
}
.right_side .guestbook .guestbook_subtitle{
    font-family: KoPubWorldDotum;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: rgba(247, 247, 247, 0.9);
    padding-left: 10px;
}
.right_side .guestbook .guestbook_form{
    display:grid;
    margin:20px 20px 0 10px;
    grid-template-columns: repeat(8,minmax(35px,auto));
    grid-template-rows: repeat(7,minmax(25px,auto));
}
input{
    background-color:transparent;
    border: 1px solid #DBDBDB;
}
.right_side .guestbook .guestbook_recipient{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}

.right_side .guestbook .dropdown {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 4;
    border: 0.8px solid #DBDBDB;
    border-radius: 2px;
    background-color: #1d1d1d;
    color: rgba(255, 255, 255, 0.9);
    outline:0;
    width:140px;
}
select {
    padding: 5px 0 5px 5px;
    border-right:0.8px solid #DBDBDB;
      background: url('../icon/select_upper.svg') no-repeat 92% 50%;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
}
select::-ms-expand {
    display: none;
}

  /* .dropbtn {
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #1d1d1d;
    min-width: 142px;
    margin-left:-1px;
    margin-top:-2px;
    z-index: 1;
  }
  .dropdown-content a {
    color: #ffffff;
    padding: 8px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ffffff;
  }
  .dropdown-content a:hover {background-color: #ff5924;}
  .dropdown:hover .dropdown-content {display: block;}  */

.right_side .guestbook .guestbook_content{
    color:#FFFFFF;
    background-color: #1d1d1d;
    border: 1px solid #ffffff;
    margin: -15px 0;
    grid-row-start: 3;
    grid-row-end: 6;
    grid-column-start: 2;
    grid-column-end: 9;
}
.right_side .guestbook .guestbook_sender {
    display: flex;
    grid-row-start: 7;
    grid-row-end: 8;
    grid-column-start: 4;
    grid-column-end: 6;
}
.right_side .guestbook .guestbook_sender_name{
    color:#FFFFFF;
    grid-row-start: 7;
    grid-row-end: 8;
    grid-column-start: 6;
    grid-column-end: 8;
}
.right_side .guestbook #send{
    border: 1px solid #ffffff;
    margin-left: 10px;
    grid-row-start: 7;
    grid-row-end: 8;
    grid-column-start: 8;
    grid-column-end: 9;
}
.right_side .guestbook #send:hover{
    /* background-color:#ff5924;
    border: 1px solid #1D1D1D; */
}

.right_side .right_side_bottomline{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: minmax(50px,auto);

    grid-row-start: 8;
    grid-row-end: 9;
    grid-column-start: 1;
    grid-column-end: 5;

    font-family: KoPubWorldDotum;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
}
.right_side .right_side_bottomline .right_side_bottomline_middle{
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 4;
    border-left: 1px solid #DCDCDC;
    border-right: 1px solid #DCDCDC;
}
.right_side .right_side_bottomline .right_side_bottomline_left{
    display: block;
    margin: auto;
    grid-column-start: 1;
    grid-column-end: 2;
}
.right_side .right_side_bottomline .right_side_bottomline_left #arrow_left{
    display: block;
    margin: auto;
}

.right_side .right_side_bottomline .right_side_bottomline_right{
    display: block;
    margin: auto;
    grid-column-start: 4;
    grid-column-end: 5;
}
.right_side .right_side_bottomline .right_side_bottomline_right #arrow_right{
    display: block;
    margin: auto;
}

@keyframes open_mouth{
    10%{transform: translate(0, -2px);}
    20%{transform: translate(0, 2px);}
    40%{transform: translate(0, -2px);}
    60%{transform: translate(0, 2px);}
    80%{transform: translate(0, -2px);}
    100%{transform: translate(0, 2px);}
}
@keyframes close_mouth{
    10%{transform: translate(0, 2px);}
    20%{transform: translate(0, -2px);}
    40%{transform: translate(0, 2px);}
    60%{transform: translate(0, -2px);}
    80%{transform: translate(0, 2px);}
    100%{transform: translate(0, -2px);}
}
